@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        margin: 0;
        padding: 0;
        width: 100vw;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        position: absolute;
    }
</style>

<div>
    <video id="video" width="720" height="560" autoplay muted />
</div>
